<footer> 
    <div class="finfo">   
        <div class="fSocial">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
<div class="fbrand">
 &copy; AirBNB FAKE LTD.
    </div>
    <div class="flinks">
        <a href="/privecy">Privecy</a>
        <a href="/terms">. Terms .</a>
        <a href="/details">Company-Details</a>
    </div>
</div>
</footer>